<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h1 class="card-title centerText">{{item.text}}</h1>

            {{!-- <strong>ID</strong>: {{item.id}}</p> --}}

            <h4 class="centerText">{{item.description}}</h4>

             <h6 class="centerText">Category: {{item.category}}</h6>

              <h6 class="centerText">Time Frame: {{item.duration}}</h6>

            <hr>

              <h4 class="centerText">To Do</h4>
              <ul class="formatList">
                  <li>{{item.toDoListItem}}</li>
                  {{!-- IF THESE ELEMENTS EXIST THEY WILL BE DISPLAYED, IF NOT THE LIST ENDS --}}
                      {{#with item.toDoListItem0}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem1}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem2}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem3}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem4}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem5}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem6}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem7}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem8}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem9}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem10}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem11}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem12}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem13}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem14}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem15}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem16}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem17}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem18}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem19}} <li> {{this}} </li> {{/with}}
                      {{#with item.toDoListItem20}} <li> {{this}} </li> {{/with}}
                  </ul>

            <hr>

            <a href="/view">← Back To Bucket Lists</a>


        </div>
      </div>
    </div>
  </div>
</div>
