<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{item.text}}</h5>
          <p>
            {{!-- <strong>ID</strong>: {{item.id}}</p> --}}

            <strong>Description</strong>: {{item.description}}</p>

             <strong>Category</strong>: {{item.category}}</p>

              <strong>Time Frame</strong>: {{item.duration}}</p>

              <strong>To Do</strong>: </p>
                {{#each toDoListItem}}
                <li>{{toDoListItem.name}}</li>
                {{/each}}

            <hr>

            <a href="/view">← Back To Bucket Lists</a>


        </div>
      </div>
    </div>
  </div>
</div>
